# Lab 4 - Combining Dataframes

In [23]:
import pandas as pd
import numpy as np

## NFL Offense Data

1. Import the NFL week 3, 4, and 5 data and add a week column to dataset and set the value to 3, 4, or 5 for all rows from that week.

In [24]:
nfl_offense_week3_df = pd.read_csv("nfloffenseweek3.csv")
nfl_offense_week4_df = pd.read_csv("nfloffenseweek4.csv")
nfl_offense_week5_df = pd.read_csv("nfloffenseweek5.csv")

Adding week column to week 3

In [25]:
NFL_OW3_df2 = nfl_offense_week3_df.assign(week=3)
NFL_OW3_df2.loc[:, ["team", "week"]]

                     team  week
0        Baltimore Ravens     3
1           Detroit Lions     3
2           Buffalo Bills     3
3      Kansas City Chiefs     3
4     Philadelphia Eagles     3
5        Cleveland Browns     3
6    Jacksonville Jaguars     3
7          Miami Dolphins     3
8         Atlanta Falcons     3
9      Cincinnati Bengals     3
10      Las Vegas Raiders     3
11  Washington Commanders     3
12      Arizona Cardinals     3
13      Carolina Panthers     3
14       Los Angeles Rams     3
15      Minnesota Vikings     3
16   Los Angeles Chargers     3
17        New York Giants     3
18    Pittsburgh Steelers     3
19          New York Jets     3
20          Chicago Bears     3
21   Tampa Bay Buccaneers     3
22     New Orleans Saints     3
23       Tennessee Titans     3
24   New England Patriots     3
25         Houston Texans     3
26      Green Bay Packers     3
27       Seattle Seahawks     3
28    San Francisco 49ers     3
29         Dallas Cowboys     3
30         Denver Broncos     3
31     Indianapolis Colts     3

Adding week column to week 4

In [26]:
NFL_OW4_df2 = nfl_offense_week4_df.assign(week=4)
NFL_OW4_df2.loc[:, ["team", "week"]]

                     team  week
0           Detroit Lions     4
1      Kansas City Chiefs     4
2        Baltimore Ravens     4
3     Philadelphia Eagles     4
4           Buffalo Bills     4
5        Cleveland Browns     4
6    Jacksonville Jaguars     4
7         Atlanta Falcons     4
8          Miami Dolphins     4
9       Las Vegas Raiders     4
10       Seattle Seahawks     4
11   Los Angeles Chargers     4
12     Cincinnati Bengals     4
13      Arizona Cardinals     4
14      Minnesota Vikings     4
15   Tampa Bay Buccaneers     4
16      Carolina Panthers     4
17     New Orleans Saints     4
18        New York Giants     4
19          New York Jets     4
20      Green Bay Packers     4
21       Tennessee Titans     4
22    Pittsburgh Steelers     4
23   New England Patriots     4
24         Houston Texans     4
25  Washington Commanders     4
26         Dallas Cowboys     4
27    San Francisco 49ers     4
28       Los Angeles Rams     4
29         Denver Broncos     4
30          Chicago Bears     4
31     Indianapolis Colts     4

Adding week column to week 5

In [27]:
NFL_OW5_df2 = nfl_offense_week3_df.assign(week=5)
NFL_OW5_df2.loc[:, ["team", "week"]]

                     team  week
0        Baltimore Ravens     5
1           Detroit Lions     5
2           Buffalo Bills     5
3      Kansas City Chiefs     5
4     Philadelphia Eagles     5
5        Cleveland Browns     5
6    Jacksonville Jaguars     5
7          Miami Dolphins     5
8         Atlanta Falcons     5
9      Cincinnati Bengals     5
10      Las Vegas Raiders     5
11  Washington Commanders     5
12      Arizona Cardinals     5
13      Carolina Panthers     5
14       Los Angeles Rams     5
15      Minnesota Vikings     5
16   Los Angeles Chargers     5
17        New York Giants     5
18    Pittsburgh Steelers     5
19          New York Jets     5
20          Chicago Bears     5
21   Tampa Bay Buccaneers     5
22     New Orleans Saints     5
23       Tennessee Titans     5
24   New England Patriots     5
25         Houston Texans     5
26      Green Bay Packers     5
27       Seattle Seahawks     5
28    San Francisco 49ers     5
29         Dallas Cowboys     5
30         Denver Broncos     5
31     Indianapolis Colts     5

2. Combine the weekly dataframes by adding the dataframes together row-wise.

In [28]:
combined_data = pd.concat([NFL_OW3_df2, NFL_OW4_df2, NFL_OW5_df2], ignore_index=True)
combined_data

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points,week
0,1,Baltimore Ravens,3,99,1141,166,6.9,3,1,55,...,2,5.6,18,8,44,5,42.9,8.6,35.63,3
1,2,Detroit Lions,3,95,1227,203,6.0,2,0,63,...,5,5.9,20,15,129,5,40.5,5.4,31.05,3
2,3,Buffalo Bills,3,91,1324,213,6.2,5,3,77,...,1,4.7,22,20,136,6,46.7,16.7,47.46,3
3,4,Kansas City Chiefs,3,88,1122,180,6.2,3,2,68,...,2,4.1,15,15,124,8,45.2,6.5,40.73,3
4,5,Philadelphia Eagles,3,86,1341,208,6.4,1,0,73,...,6,4.4,26,23,173,6,39.4,3.0,45.06,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,28,Seattle Seahawks,3,47,889,165,5.4,5,2,56,...,0,4.0,14,21,230,8,32.0,16.0,10.01,5
92,29,San Francisco 49ers,3,47,971,189,5.1,5,3,55,...,3,4.5,25,20,165,8,25.7,14.3,-11.26,5
93,30,Dallas Cowboys,3,46,972,184,5.3,2,1,54,...,2,4.7,20,23,188,3,31.3,6.3,-0.21,5
94,31,Denver Broncos,3,43,1044,199,5.2,3,2,54,...,1,4.2,15,30,236,7,30.3,9.1,-0.27,5
95,32,Indianapolis Colts,3,40,994,207,4.8,6,2,61,...,1,4.0,19,16,153,4,22.9,17.1,-22.10,5

3. Make up 1 interesting question about this dataset. Answer it.

Question: What is the difference number in total yards played for all offense teams between Week 3 and Week 4?

In [38]:
week_3_mask = combined_data["week"] == 3
week_4_mask = combined_data["week"] == 4

week_3_total_yard_sum = combined_data[week_3_mask].total_yards.sum()
week_4_total_yard_sum = combined_data[week_4_mask].total_yards.sum()

if week_3_total_yard_sum > week_4_total_yard_sum:
    difference = week_3_total_yard_sum - week_4_total_yard_sum
else:
    difference = week_4_total_yard_sum - week_3_total_yard_sum

print(f"The amount of total yards for all teams between weeks 3 and 4 is {difference} yards")

The amount of total yards for all teams between weeks 3 and 4 is 11048 yards

## World Population Data

4. Join the height and weight data to the iq data. 
5. Join population density to quality of life data.
6. Join life expectancy to quality of life data.
7. Join iq, life expectancy, quality of life and population density into 1 dataframe.

8. Make up 1 interesting question about one of these datasets and answer it.

9. Make up 1 interesting question about one of these datasets and answer it.

10. Make up 1 interesting question about one of these datasets and answer it.